.container-config{
  padding-top: 2%;
}



.result{
  margin: 0;
  margin-top: 30px;
}
.chats-card-config{
  margin-top: 2%;
}

.body-choice-config{
  padding: 0;
}



.choice{
  width: 100%;
  background-color: red;
  color: white;
}

.choice:hover{
  color:#e4ede4 ;
}

.list-config{
  padding-top: 2%;
}



table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
}
tr{
  box-sizing: 0!important;
}

tr:nth-child(even) {background-color: #f2f2f2;}
