.my-nav{
  background-color: red;
}

.navbar-dark .navbar-nav .btn-link {
  color: black;
  font-family: Verdana, Geneva, sans-serif;
  text-decoration:none;
}

#dropdown-item :hover{
  background-color:red;
}

#dropdown-item {
  height: 40px;
  text-align: center;
  line-height: 40px;
}